/* #3b364c #0a0a23 #6e54b5 */

.boarder_container {
  -fx-background-color: #3b364c;
  
}

.view_container {
  -fx-background-color: #0a0a23;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
}



.heading{
  -fx-font-size: 20px;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}